@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}


h1,h2,h3,h4,h5,div,p,button,a,span,section,main,header,footer,nav,form,fieldset,article {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  box-sizing: border-box;
}
