.fedPreviewList {
  display: flex;
  flex-wrap: wrap;
}

.fedPreview {
  line-height: 120%;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  > * {
    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  label {
    font-weight: bold;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    a {
      display: inline-block;
      margin: 3px;
      padding: 5px 10px;
      background-color: #38c5f3;
      color: white;
      text-decoration: none;
    }
  }
}
